/* 300 */
@font-face {
  font-family: 'Graphik-300-Light';
  src: url('Graphik-300-Light.otf');
}
/* 400 */
@font-face {
  font-family: 'Graphik-400-Regular';
  src: url('Graphik-400-Regular.otf');
}
/* 600 */
@font-face {
  font-family: 'Graphik-600-Semibold';
  src: url('Graphik-600-Semibold.otf');
}
@font-face {
  font-family: 'TiemposHeadline-300';
  src: url('TiemposHeadline-300-Light.otf');
}
@font-face {
  font-family: 'Arnhem-Bold';
  src: url('Arnhem-Bold.otf');
}
@font-face {
  font-family: 'Arnhem-Normal';
  src: url('Arnhem-Normal.otf');
}
@font-face {
  font-family: 'Arnhem-Blond';
  src: url('Arnhem-Blond.otf');
}
@font-face {
  font-family: 'Arnhem-Black';
  src: url('Arnhem-Black.otf');
}
