/* 200 */
@font-face {
  font-family: 'Manrope-ExtraLight';
  src: url('Manrope-ExtraLight.otf');
}
/* 300 */
@font-face {
  font-family: 'Manrope-Light';
  src: url('Manrope-Light.otf');
}
/* 400 */
@font-face {
  font-family: 'Manrope-Regular';
  src: url('Manrope-Regular.otf');
}
/* 500 */
@font-face {
  font-family: 'Manrope-Medium';
  src: url('Manrope-Medium.otf');
}
/* 600 */
@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('Manrope-SemiBold.otf');
}
/* 700 */
@font-face {
  font-family: 'Manrope-Bold';
  src: url('Manrope-Bold.otf');
}
/* 800 */
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('Manrope-ExtraBold.otf');
}
